.Header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
}

.Customization  {
    /* font-size: 20px;
    margin-left: 30px;
    margin-top: 20px;
    position: relative;
    top: 100px;
    display: flex; */
    font-size: 20px;
    
    position: absolute; /* Change to absolute positioning */
    top: 150px; /* Adjust the top position */
    left: 20px; /* Adjust the left position */
    display: flex;
}

.Buttons {
    position: absolute;
    top: 150px;
    left: 375px;
   
   
}

#lightBackgroundButton,
#randomBackgroundButton, #sameBackgroundButton{
    
    width: 200px;
    height: 100px;
    margin-bottom: 20px; /* Adjust as needed */
}

#downloadButton {
    width: 200px;
    height: 30px;
   
}

#textColor {
    margin-left: 20px;
}

#changeFontSize {
    /* position:static;
    top: 20px;
    right: 795px;
    margin-right: 15px; */
    
    position: absolute;
    top: 100px; /* Adjust the top position as needed */
    left: 2%; /* Use a percentage value for horizontal positioning */
    
    /* margin-right: 15px; */
    
   
    
}

#fontSizes {
    position: absolute;
    top: 127px;
    /* right: 105px; */
    left: 50%;
    width: 50px;
    height: 25px;
}

#imageFile {
    position: absolute;
    top: 200px;
    margin-right: 15px;
    /* right: 105px; */
    left: 2%;
}

#imageFileUpload {
    position: absolute;
    top: 270px;
    /* right: 1300px; */
    left: 20%;

}


/* .SpotifyCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    max-width: 400px;
    max-height: 400px;
    width: 400px;
    height: 400px;
    margin: 0 auto; */
    /* text-align: center;
    border-radius: 10px;
    margin-top: 155px;
    
    left: 50%; */
    /* position: absolute;
   
} */

/* .ContentCard {
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.5); 
    max-width: 295px;
    max-height: 295px;
    width: 295px;
    height: 295px;
    margin: 0 auto; */
    /* text-align: center; */
    /* border-radius: 10px; */
    /* margin-left: auto;
    margin-right: auto; */
    /* position: absolute; */
    /* top: 55px;
    left: 13%; */
    /* z-index: 1; */

/* } */
.SpotifyCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    max-width: 400px;
    max-height: 400px;
    width: 400px;
    height: 400px;
    margin-top: 165px;
    margin-left: 650px;
    
    position: absolute; 
}

.ContentCard {
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.5); 
    max-width: 295px;
    max-height: 295px;
    width: 295px;
    height: 295px;
    top: 50px;
    margin-left: 55px;
    
    position: absolute; 
}





#myImg {    
    position: absolute;
    top: 15px; /* Adjust the top position to align with the top of .ContentCard */
    left: 58%; /* Center horizontally */
    transform: translateX(-200%); 
    z-index: 2;
    
    
    

}


input[type="color"] {
    appearance: none; 
    width: 50px;
    height: 50px; 
    border: none; 
    border-radius: 50%; 
    outline: none; 
    cursor: pointer;
    margin-left: 10px;
    position: relative;
    top: 15px;
    
    
}


input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 100; 
}

input[type="color"]::-webkit-color-swatch {
    border: none; 
    border-radius: 50%; 
    padding: 0; 
}

